
<center> ClassBoard is where you come for academic support! Have a question in a class, upload it and wait for solutions. Have a solution to a problem? Provide an answer to a question. If you don't see your class code, go ahead and upload your class code and begin posting your questions.</center>

<center>
<h1 style="color:cornflowerblue">Sign Up</h1>

<form action="/insert_user" method="post">

  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose a email..." type="text">
  </div>
                 
  <div>
    <label for="first_name_box">First name</label>
      
    <input type="text" id="first_name_box" name="query_first_name">
  </div>
         
  <div>
    <label for="last_name_box">Last name</label>
      
    <input type="text" id="last_name_box" name="query_last_name">
  </div>
    
  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div>
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>
  <br>
  
  <button>
    Sign up
  </button>
</form>

<br>

<DIV STYLE="background-color:cornflowerblue; height:10px; width:100%;">

<br><br>

<p>
  Or, <a style="color:cornflowerblue;"href="/sign_in">Sign in</a> instead.
</p>


</center>
